<%= form_with(model: gallery, local: true) do |form| %>
  <% if gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_name %>
    <%= form.text_field :project_name, id: :gallery_project_name %>
  </div>

  <div class="field">
    <%= form.label :before_img %>
    <%= form.file_field :before_img, id: :gallery_before_img, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :after_img %>
    <%= form.file_field :after_img, id: :gallery_after_img, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :gallery_description %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :gallery_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
